@model IEnumerable<PetShop.Models.Store>

@{
    ViewBag.Title = "Index";
}

<div class="center">
    <h1>Stores</h1>
</div>

<div class="search-form">
    @Html.ActionLink("Create New", "Create", new { }, new { id = "search-submit", @class = "submit" })
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City.Region)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Street)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City.Region.Name)
    </td>
</tr>
}

</table>
