@model PetShop.Models.Sale

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <h4>Sale</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" id="startDate" name="StartDate"
                       value="2000-01-01">
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" id="endDate" name="EndDate"
                       value="2000-01-01">
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Percentage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" value=1 id="Percentage" name="Percentage" min="1" max=30>
                @Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemId, "Item", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ItemId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="submit" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class="submit"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    var startDatePicker = document.getElementById("startDate");
    var endDatePicker = document.getElementById("endDate");

    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    startDatePicker.value = today;
    startDatePicker.min = today;
    endDatePicker.min = yyyy + '-' + mm + '-' + (parseInt(dd) + 1);
    endDatePicker.value = yyyy + '-' + mm + '-' + (parseInt(dd) + 1);

    startDatePicker.onchange = function () {
        const startDateValue = startDatePicker.value;
        endDatePicker.value = startDateValue;
    }

    endDatePicker.onchange = function () {
        const endDateValue = endDatePicker.value;
        startDatePicker.max = endDateValue;
    }
</script>