
@{
    ViewBag.Title = "Edit";
}

<div class="center">
    <h1>Create</h1>
</div>

<div class="main-container">
    <div class="center-container">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal ">
            <h4>Item</h4>
            <hr />
            <p class="error">
                @Html.ValidationSummary(true)
            </p>
           
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name" />
            </div>

            <div class="form-group">
                <label for="Brand">Brand</label>
                <input type="text" list="Brand" name="Brand" id="BrandId" />
                <datalist id="Brand" style="max-height: 150px">
                    @foreach (var brand in ViewBag.Brands)
                    {
                        <option value=@String.Format("{0}", brand)>@String.Format("{0}", brand)</option>
                    }
                </datalist>
            </div>

            <label for="Price">Price</label>
            <input type="number" min="0" name="Price" id="Price" />

            <div class="form-group">
                <label for="Animal">Animal</label>
                <input type="text" list="Animal" name="Animal" id="AnimalId" />
                <datalist id="Animal" style="max-height: 150px">
                    @foreach (var brand in ViewBag.Animals)
                    {
                        <option value=@String.Format("{0}", brand)>@String.Format("{0}", brand)</option>
                    }
                </datalist>
            </div>

            <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" name="Description" id="Description" />
            </div>

            <div class="form-group">
                <label for="Subcategory">Subcategory</label>
                <input type="text" list="Subcategory" name="Subcategory" id="SubcategoryId" />
                <datalist id="Subcategory" style="max-height: 150px">
                    @foreach (var brand in ViewBag.ItemSubcategories)
                    {
                        <option value=@String.Format("{0}", brand)>@String.Format("{0}", brand)</option>
                    }
                </datalist>
            </div>

            <div class="form-group">
                <label for="Category">Category</label>
                <input type="text" list="Category" name="Category" id="CategoryId" />
                <datalist id="Category" style="max-height: 150px">
                    @foreach (var brand in ViewBag.Itemcategories)
                    {
                        <option value=@String.Format("{0}", brand)>@String.Format("{0}", brand)</option>
                    }
                </datalist>
            </div>

            <div class="form-group">
                <label for="Volume">Volume</label>
                <input type="text" name="Volume" id="Volume" />
            </div>


            <div class="buttons-vertical">
                <div class="control-container">
                    <input type="submit" value="Save" class="submit" />
                </div>
                <div class="control-container">
                    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "submit" })
                </div>
            </div>
            
        </div>
        }

       
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
