@model PetShop.Models.Item

@{
    ViewBag.Title = "Edit";
}

<div class="center">
    <h1>Edit</h1>
</div>


<div class="main-container">
    <div class="center-container">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal ">
            <h4>Item</h4>
            <hr />
            @Html.HiddenFor(model => model.ItemId)
            @{ 
                var i = String.Format("{0}", Model.Name);
            }
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name" value=@String.Format("{0}", @Model.Name) />
            </div>

            <div class="form-group">
                <label for="Brand">Brand</label>
                <input type="text" list="Brand" name="Brand" id="BrandId" value=@String.Format("{0}", @Model.Brand.Name) />
                <datalist id="Brand" style="max-height: 150px">
                    @foreach (var brand in ViewBag.Brands)
                    {
                        i = String.Format("{0}", brand);
                        <option value=@i.GetHashCode()>@String.Format("{0}", brand)</option>
                    }
                </datalist>
            </div>

            <label for="Price">Price</label>
            <input type="number" min="0" name="Price" id="Price" value=@Convert.ToInt32(Model.Price) />

            <div class="form-group">
                <label for="Animal">Animal</label>
                <input type="text" list="Animal" name="Animal" id="AnimalId" value=@String.Format("{0}",Model.Animal.Name) />
                <datalist id="Animal" style="max-height: 150px">
                    @foreach (var brand in ViewBag.Animals)
                    {
                        i = String.Format("{0}", brand);
                        <option value=@i.GetHashCode()>@i</option>
                    }
                </datalist>
            </div>

            <div class="form-group">
                <label for="Description">Description</label>
                @{ 
                    i = String.Format("{0}", Model.Description);
                }
                <input type="text" name="Description" id="Description" value=@i />
            </div>

            <div class="form-group">
                <label for="Subcategory">Subcategory</label>
                <input type="text" list="Subcategory" name="Subcategory" id="SubcategoryId" value=@String.Format("{0}", Model.ItemSubcategory.Name) />
                <datalist id="Subcategory" style="max-height: 150px">
                    @foreach (var brand in ViewBag.ItemSubcategories)
                    {
                        i = String.Format("{0}", brand);
                        <option value=@i.GetHashCode()>@i</option>
                    }
                </datalist>
            </div>

            <div class="form-group">
                <label for="Category">Category</label>
                <input type="text" list="Category" name="Category" id="CategoryId" value=@String.Format("{0}",Model.ItemSubcategory.ItemCategory.Name) />
                <datalist id="Category" style="max-height: 150px">
                    @foreach (var brand in ViewBag.Itemcategories)
                    {
                        i = String.Format("{0}", brand);
                        <option value=@i.GetHashCode()>@i</option>
                    }
                </datalist>
            </div>

            <div class="form-group">
                <label for="Volume">Volume</label>
                <input type="text" name="Volume" id="Volume" value=@String.Format("{0}",Model.Volume) />
            </div>

            <div class="buttons-vertical">
                <div class="control-container">
                    <input type="submit" value="Save" class="submit" />
                </div>
                <div class="control-container">
                    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "submit" })
                </div>
            </div>
        </div>
            }
        </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
