@model PetShop.Models.ViewModels.OrderViewModel

<div class="modal-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal main-container">
        <h4>Supplier</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="error">@String.Join(" ", Model.SupplierErrorMessages)</p>
        <div class="form-group">
            <label for="phoneNumber">Supplier</label>
            <input type="text" list="customers" name="phoneNumber" id="customer" />
            <datalist id="customers" style="max-height: 150px">
                @foreach (var supplier in Model.Suppliers)
                {
                    <option value=@supplier.PhoneNumber>@String.Format("{0} {1}", supplier.Name, supplier.Surname)</option>
                }
            </datalist>
        </div>

        <div class="buttons-vertical">
            <div class="control-container-submit">
                <div class="control-container">
                    <input type="submit" value="OK" class="submit" id="submitButton" />
                </div>
                <div class="control-container">
                    @Html.ActionLink("Register", "RegisterSupplier", "ItemsOrders", new { @class = "submit" })
                </div>
            </div>

            <div class="control-container">
                @Html.ActionLink("Cancel", "Create", new { }, new { @class = "submit" })
            </div>
        </div>
    </div>
    }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

